@model IEnumerable<Examination.BL.ViewModels.QuestionVM>
@using static Examination.DAL.Enums.Enums;

<h3 class="control-label">
    Answer All Questions
</h3>


<form asp-action="Index">
    @foreach (var item in Model)
        {
            <div>
                <h3>
                    @Html.DisplayFor(modelItem => item.QuestionText)
                </h3>


            @foreach (var ans in item.Answers)
            {
                @if (@item.QuestionTypeName == QuestionsTypes.TrueOrFalse.ToString() || @item.QuestionTypeName == QuestionsTypes.ChooseOne.ToString())
                {
                    <input type="radio" name="@ans.QuestionId" value="@ans.AnswerId" /> @ans.ProvidedAnswer
                    <br />
                
                }
                else if (@item.QuestionTypeName == QuestionsTypes.MultipleChoice.ToString() || @item.QuestionTypeName == QuestionsTypes.FillInTheBlank.ToString())
                {
                    <input type="checkbox" name="@ans.AnswerId" value="@ans.AnswerId" /> @ans.ProvidedAnswer
                    <br />
                }
                

            }

          
            
            </div>
        }

    <input type="submit" value="Send Answers" class="btn btn-primary mx-2" />

</form>